<div class="min-w-full flex flex-row">
  <%= turbo_stream_from current_user %>
  <nav class="w-1/4 border-r border-red-100 mr-4" id="channels">
    <h2 class="font-bold text-2xl mb-5">Channels</h1>
    <%= render @channels %>
    <hr class="border-red-100">
    <div id="directs">
      <%= render current_user.direct_channels.preload(:members) %>
    </div>
  </nav>
  <div class="w-3/4 overflow-y-scroll h-full relative">
    <%= render "channels/presence", users: current_channel.online_users if current_channel%>
    <%= render "channels/chat", channel: current_channel %>
  </div>
  <%= render "profiles/profile" %>
</div>
