<div id="<%= dom_id(message) %>" data-user-id="<%= message.user_id %>"
  data-chat-target="message"
  class="message">
  <%= message.content %>
  <span
    data-role="author"
    data-controller="framenav"
    data-action="click->framenav#open"
    data-framenav-target-value="profile"
    data-framenav-source-value="<%= profile_path(message.user) %>"
    class="message--author u-<%= message.user.color %>">
      <%= message.user.username %>
      <%= " @ #{Current.fly_region}" if Current.fly_region %>
    </span>
</div>
