<div id="<%= dom_id(message) %>" data-user-id="<%= message.user_id %>" class="self-end ml-4 rounded text-sm lg:text-base border p-2 mt-2 flex flex-col border-gray-300">
  <%= message.content %>
  <span
    data-role="author"
    data-controller="framenav"
    data-action="click->framenav#open"
    data-framenav-target-value="profile"
    data-framenav-source-value="<%= profile_path(message.user) %>"
    class="self-end text-gray-400 cursor-pointer hover:opacity-75 text-xs lg:text-sm truncate mt-1"><%= message.user.username %></span>
</div>
